.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.box {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    background-color: #ccc;
    box-shadow: 0px 0px 30px #ccc;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.medicoCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    background-color: #f9f9f9;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    position: relative;
  }

  .medicoCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #02998a;
  }
  
  .agendarButton {
    all: unset;
    position: absolute;
    right: 10%;
    width: 15rem;
    height: 3rem;
    background-color: #02998a;
    color: #fff;
    border-radius: 10px;    
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
  }

  .agendarButton:hover {
    background-color: #00695e;
  }

.headerContainer {
  position: relative;
}

.AppointmentButton {
  all: unset;
  position: absolute;
  width: 20rem;
  height: 3rem;
  top: 0;
  left: 100px;
  margin-top: 20px;
  background-color: #fff;
  color: #00695e;
  border-radius: 5px;    
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  border: 3px solid #fff;
}

.AppointmentButton:hover {
  background-color: #00695e;
  color: #fff;
  border: 3px solid #fff;
  transform: scale(1.02);
}

.AppointmentButton:active {
  transform: scale(1);
}

.title {
  margin-right: 40rem;
  padding: 20px;
}